---
BasedOnStyle: LLVM
ColumnLimit: 108
IndentWidth: 3
TabWidth: 3
UseTab: Never
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: false
EmptyLineBeforeAccessModifier: Always
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesBeforeTrailingComments: 1
SpaceBeforeAssignmentOperators: true
SpaceAroundPointerQualifiers: Default
PointerAlignment: Left
ReferenceAlignment: Pointer
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 6
IndentWrappedFunctionNames: false
BinPackArguments: true
BinPackParameters: true
SpaceBeforeSquareBrackets: false
SpacesInConditionalStatement: true
PackConstructorInitializers: NextLineOnly
BreakConstructorInitializers: BeforeColon
AlignAfterOpenBracket: false
ContinuationIndentWidth: 6
IndentPPDirectives: None
BreakAfterReturnType: ExceptShortType
PenaltyReturnTypeOnItsOwnLine: 5
AlwaysBreakTemplateDeclarations: true
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 100000
PenaltyBreakAssignment: 100000
PenaltyBreakOpenParenthesis: 100000
PenaltyExcessCharacter: 100000
AllowShortFunctionsOnASingleLine: None
---
